analysis/data/
build/
.cache/
.venv/
__pycache__/
.clang-format
compile_commands.json

*.d

*.plo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

.DS_Store
.vscode/
.idea/
